<article class="post">
  <div class="title">
    <a href="/post/{{id}}">{{title}}</a>
    <span id="signature">({{user.username}} on {{format_date created_at}})</span>
    <br>
    <span>{{content}}</span>
  </div>
</article>