<article class="post">
  <div class="sighting">
    <a href="/post/{{id}}">{{title}}</a>
    <span id="signature">({{user.username}} on {{format_date created_at}})</span>
    <br>
    <span class="post-desc">{{content}}</span>
  </div>
</article>